name: nyumbayo_app
description: An app to help tenants keep track of their rent and electricity bills.
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.1

environment:
  sdk: '>=2.19.2 <3.0.0'
dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  http: ^0.13.5
  flutter_native_splash: ^2.2.18
  flutter_launcher_icons: ^0.12.0
  flutter_bloc: ^8.1.2
  liquid_swipe: 
  smooth_page_indicator:
  get:
  google_fonts: ^4.0.3
  flutter_otp_text_field: 
  flutter_spinkit: ^5.2.0
  intl: ^0.18.1
  flutter_svg: ^2.0.6
  firebase_auth: ^4.6.1
  shared_preferences: ^2.1.1
  cloud_firestore: ^4.7.1
  provider: ^6.0.5
  flutter_glow: ^0.3.0
  icons_launcher: ^2.1.0
  device_info_plus: ^9.0.1
  firebase_messaging: ^14.6.1
  flutter_local_notifications: ^14.1.0
  

dev_dependencies:
  flutter_test:
    sdk: flutter
  

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/images/welcome/
    - assets/images/splash/
    - assets/images/onBoardingScreen/

flutter_native_splash:
  color: "#FFFFFF"
  image: assets/images/house.png
  android_12:
    image: assets/images/ic_launcher.png
    color: "#FCFCFC"
  android_gravity: center
  ios_content_mode: center
  fullscreen: true

icons_launcher:
  image_path: "assets/images/house.png"
  platforms:
    android:
      enable: true
    ios:
      enable: true


  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
