<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308725614476-tj1fklnlhaj4dpbvl1h3uooi0993l3j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308725614476-tj1fklnlhaj4dpbvl1h3uooi0993l3j9</string>
	<key>API_KEY</key>
	<string>AIzaSyDo57OD62tatPKZIp9b-T08TRIoDo_hcV0</string>
	<key>GCM_SENDER_ID</key>
	<string>308725614476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.client</string>
	<key>PROJECT_ID</key>
	<string>nyumba-fbd07</string>
	<key>STORAGE_BUCKET</key>
	<string>nyumba-fbd07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308725614476:ios:3875aef44f3f64bfd978a9</string>
</dict>
</plist>